<h1>Edit Question Entry</h1>

<%= form_with model: @question do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.label :author %> : 
    <%= @question.author.html_safe%>
  </div>

  <div>
    <%= form.label :date %><br>
    <%= form.text_field :date , :disabled => true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<hr>

<h2> Other Actions </h2>
<ul>

<li>
  <%= link_to "Back Question List", questions_path %>
</li>