<h1>Add a New Question</h1>

<%= form_with model: @question do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.label :author %> : <%= current_user.email%><br>
    <%= form.text_area :author , value: current_user.email , :hidden=>true%> 
  </div>

  <div>

    <%= form.label :date %> : <%= Time.now.strftime("%d/%m/%Y %H:%M:%S")%><br>
    <%= form.text_field :date ,value: Time.now.strftime("%d/%m/%Y %H:%M:%S") , :hidden=>true %>
  </div>
  <br>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<hr>

<h2> Other Actions </h2>
<ul>

<li>
  <%= link_to "Back Question List", questions_path %>
</li>

