<style>
table, th, td {
  border: 1px solid black;
}
</style>


<h1> <%= @question.title %> </h1>

<h2> Question Details </h2>

<p>Title: <%= @question.title %></p>

<p>Body: <%= @question.body %></p>

<p>Author: <%= @question.author %></p>

<p>Date: <%= @question.date %></p>


<hr>

<h2> Answers </h2>

<% if @question.answers.empty? %>
 <h3> No answers yet! </h3>
<% end %>

<%@question.answers.each do |answer| %>
	<p>
		<bf>Body: </bf><%= answer.body %> <br>
	 <bf>Author: </bf><%= answer.author %> <br>
  </p>

	<p>
  	<ul>
  	<% if answer.author == current_user.email %>
      <% if can? :update, Answer %>
      <li><%= link_to "Edit Answer", edit_question_answer_path(answer.question, answer) %></li>
      <% end %> 
      <% else %> 
        <li>Edit (you're not the author)</li>
    <% end %>


  <% if answer.author == current_user.email || current_user.coolness==2 ||  current_user.coolness==3%>
      <% if can? :destroy, Answer %>
      <li><%= link_to 'Delete Answer', [answer.question, answer],
              method: :delete,
              data: { confirm: "Are you sure?" } %></li>
      <% end %> 
      <% else %> 
        <li>Destroy (you're not the author)</li>
    <% end %> 
	</ul>

<% end %>

<hr>

<h2> Add an Answer </h2>

<%= form_with model: [ @question, @question.answers.build ] do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>

  <p>
    <%= form.label :author %> : <%= current_user.email%><br>
    <%= form.text_area :author , value: current_user.email , :hidden=>true%> 
  </p>

  <p>
  	
    <%= form.submit "Save Answer" %>
  </p>
<% end %>

<hr>

<h2> Other Actions </h2>

<ul>

<li><%= link_to "Edit", edit_question_path(@question.id) %></li>
<li><%= link_to "Destroy", question_path(@question.id), method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
<li><%= link_to "Answers", question_path(@question.id) %></li>

<li>
	<%= link_to "Back Question List", questions_path %>
</li>
</ul>