<style>
table, th, td {
  border: 1px solid black;
}
</style>

<h1>Question List: </h1>

  <% @questions.each do |question| %>
  <h2>Title: <%= question.title %></h2>
    <h3>Body: <%= question.body %></h3>
  <ul>
    
    <li>Author: <%= question.author %></li>
    <li>Date: <%= question.date %></li>

    <% if question.author == current_user.email %>
      <% if can? :update, Question %>
      <li><%= link_to "Edit", edit_question_path(question.id) %></li>
      <% end %> 
      <% else %> 
        <li>Edit (you're not the author)</li>
    <% end %> 

    <% if question.author == current_user.email || current_user.coolness==2 ||  current_user.coolness==3%>
      <% if can? :destroy, Question %>
      <li><%= link_to "Destroy", question_path(question.id), method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
      <% end %> 
      <% else %> 
        <li>Destroy (you're not the author)</li>
    <% end %> 

    <li><td><%= link_to "Answers", question_path(question.id) %></li>
      

  </ul>
  <hr>
  <% end %> 
 

<h3> Actions: </h3>

<ul>
<% if can? :create, Question %>
  <li><%= link_to "Add A New Question", new_question_path %></li>
<% else %> 
  <li>Add A New Question (you're banned)</li>
<% end %>  
<% if can? :index, User %>
  <li><%= link_to "List Users", users_path %></li>
<% else %> 
  <li>List Users (you're not an admin or moderator)</li>
<% end %>
<li><%= link_to "My profile", current_user %></li>
<li><%= link_to "My questions", myquestions_path %></li>
<li><%= link_to "My answers", answers_path %></li>
</ul>






