<h2> Edit a Answer </h2>

<%= form_with model: [ @answer.question, @answer ] do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>

  <p>
    <%= form.label :author %> : <%= @answer.author %><br>
    <%= form.text_area :author , value: @answer.author , :hidden=>true%> 
  </p>

  <p>
  	
    <%= form.submit "Save Answer" %>
  </p>
<% end %>